# Build results
/SearchInDictionary/Debug/
/SearchInDictionary/Release/
/SearchInDictionary/SearchInDictionary/Debug/
/SearchInDictionary/SearchInDictionary/Release/
/SearchInDictionary/SearchInDictionary/x64/
/SearchInDictionary/SearchInDictionary/x86/
/SearchInDictionary/x64/
/SearchInDictionary/x86/
/SearchInDictionary/.vs/

*.user
